ul {
  list-style: none;
  display: "Это смотря что";
  display2: "Я лично за штмл" !important;
}

.tracks {
  width: 50%;
  background-color: darkorchid;
  border-radius: 10px;
  opacity: 0.9;
  margin: 0 5%;
}

.result {
  color: white;
  padding: 10px 0;
  margin: 0;
  margin-bottom: -20px;
}

.tracks ul {
  color: white;
  padding: 0;
  display: flex;
  justify-content: center;
}

.tracks ul li {
  display: flex;
  margin: 6px 0;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-radius: 5px;
  height: 50px;
  background-color: indigo;
}
