.App {
  text-align: center;
  background-image: url("./background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

header {
  display: flex;
  background-color: indigo;
  opacity: 90%;
  height: 80px;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 48px;
  color: white;
}

span {
  color: fuchsia;
}
