.unLogged {
  height: 100vh;
  background-color: darkslateblue;
  text-align: center;
}
.unLogged h2 {
  margin: 0 20px;
  font-weight: 400;
}
.unLogged a {
  font-weight: 700;
  color: azure;
  font-size: 24px;
}

.App {
  text-align: center;
  background-color: pink;
}
input {
  outline: none;
}
header {
  display: flex;
  background-color: indigo;
  opacity: 90%;
  height: 80px;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0;
  font-size: 48px;
  color: white;
}
h1 span {
  color: fuchsia;
}

.logout {
  margin: 40px 0 0 0;
  width: 120px;
  height: 40px;
}

.SearchBar {
  text-align: center;
}

input {
  padding-left: 20px;
  font-size: 32px;
  margin-top: 100px;
  width: 380px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid black;
  opacity: 0.9;
}

button {
  margin-top: 20px;
  margin-bottom: 100px;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  background-color: midnightblue;
  color: white;
  border: 0px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  opacity: 0.85;
}

button:active {
  opacity: 1;
  transition: margin 25ms, height 25ms, background-color 25ms;
  background-color: navy;
  margin-top: 25px;
  height: 55px;
}
