.playlist_name_input {
  background-color: darkorchid;
  color: white;
  font-size: 26px;
  width: 70%;
  height: 30px;
  margin-top: 20px;
  border: 0px;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding-right: 20px;
}

.save {
  font-size: 18px;
  margin-bottom: 20px;
}
.save:active {
  transition: background-color 25ms;
  background-color: navy;
}

::placeholder {
  color: greenyellow;
}
